{% extends "app/base.html" %}

{% load static %}

{% block title %} 

Desktop

{% endblock %}

{% block title2 %}
    <h2><strong><p style="color: black">DESKTOP</p></strong> </h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/iM7gUJ75_8w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock %}

{% block img %}    
<div>
    <img class="img-fluid rounded-circle mb-3" src="{% static 'app/assets/img/pc.jpg' %}" alt="..." />
        <!--   <h5>Fred S.</h5>
        <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>-->
</div>
{% endblock %}

